body {
  background-color: #f3f8ff;
  text-align: center;
}
h2 {
  margin-top: 140px;
  font-weight: 600;
}
.underline {
  width: 100px;
  height: 5px;
  background: #9c9efe;
  margin-right: auto;
  margin-left: auto;
}
.btn-container {
  margin-left: 63px;
}
.menu-btn {
  margin-right: 60px;
  border: none;
  text-transform: capitalize;
  background-color: #f3f8ff;
  color: #9c9efe;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
}
.menu-btn:hover {
  background-color: #9c9efe;
  color: #f3f8ff;
  border: 1px solid #9c9efe;
  border-radius: 8px;
}
