body {
  background-color: #f3f8ff;
  text-align: center;
}
h2 {
  margin-top: 140px;
}
.underline {
  width: 100px;
  height: 5px;
  background: #9c9efe;
  margin-right: auto;
  margin-left: auto;
}
